.list-cell {
    -fx-text-fill: green;
}
.text-field {
    -fx-text-fill: grey;
    -fx-background-color: #F1EBF0;
}
#main {
    -fx-background-color: white;
/*
    -fx-background-image: url("background-01.png");
        -fx-background-repeat: stretch;
        -fx-background-size: 800 800;
        -fx-background-position: center center;
*/
}