.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical {
    -fx-scale-x: .5;
}
.list-view .scroll-bar:horizontal {
    -fx-scale-y: .5;
}
#stackPane {
    -fx-background-color: white;
}